* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f5e6e8;
}

.navbar {
  background: #800000;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.container {
  width: 90%;
  margin: 30px auto;
}

.btn {
  background: #800000;
  color: white;
  padding: 12px 18px;
  text-decoration: none;
  border-radius: 8px;
}

.logout {
  float: right;
  background: black;
  color: white;
  padding: 12px 18px;
  text-decoration: none;
  border-radius: 8px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-body h2 {
  color: #800000;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-top: 10px;
}

.edit {
  background: brown;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 8px;
}

.hapus {
  background: black;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 8px;
}

.aksi {
  margin-top: 20px;
}

.form-container {
  width: 400px;
  background: white;
  padding: 30px;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #800000;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 12px;
  background: #800000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.footer {
  background: #800000;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
